.dropdown-btn{
    font-size: 100%;
    color: black;
}

@media screen and (min-width: 820px) { 
    /* .dropdown-btn{
        background-color: black;
} */
}

@media screen and (min-width: 540) { 
    
}


@media (min-width: 820px) and (max-width: 1024px){
       .dropdown-btn{
           font-size: 70%;
           padding-left: none;
           padding-right: none;
           height: 40px;
          
       }
}

